@font-face {
  font-family: FiraCodeRegular;
  src: url(../fonts/FiraCode-Regular.ttf);
}

@font-face {
  font-family: FiraCodeMedium;
  src: url(../fonts/FiraCode-Medium.ttf);
}

@font-face {
  font-family: FiraCodeLight;
  src: url(../fonts/FiraCode-Light.ttf);
}

@font-face {
  font-family: FiraCodeBold;
  src: url(../fonts/FiraCode-Bold.ttf);
}

/* color */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: url(../img/michael-durana-sYegwYtIqJg-unsplash.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
}

.container {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  height: 85vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: flex-start;
  border-radius: 0.5rem;
  overflow: hidden;
  background: #222b33;
  -webkit-box-shadow: 0 1.9rem 3.8rem rgba(0, 0, 0, 0.3), 0 1.5rem 1.2rem rgba(0, 0, 0, 0.22);
          box-shadow: 0 1.9rem 3.8rem rgba(0, 0, 0, 0.3), 0 1.5rem 1.2rem rgba(0, 0, 0, 0.22);
}

.row {
  padding: 0.8rem 1rem 0 1rem;
  width: 100%;
  background: #222b33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col-left .dot {
  position: relative;
  margin: 0.5rem;
  height: 1.1rem;
  width: 1.1rem;
  border-radius: 50%;
  display: inline-block;
}

.col-left .dot:hover::after {
  content: "";
  position: absolute;
  width: 0.5rem;
  height: 0.5rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  border-radius: 50%;
  margin: auto;
}

.col-left .dot:first-child {
  background: #f36;
}

.col-left .dot:nth-child(2) {
  background: #fdd800;
}

.col-left .dot:last-child {
  background: #5ac05a;
}

.col-middle {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  font-family: "Inconsolata", monospace;
}

.content {
  padding: 0;
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.content .side-bar {
  height: 100%;
  width: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.content .side-bar .icon-bar {
  width: 7rem;
  height: 100%;
  position: relative;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-top: 2rem;
}

.content .side-bar .icon-bar a {
  display: block;
  text-align: center;
  font-size: 3.6rem;
  color: #fff;
  opacity: 0.6;
  padding: 0 0 3rem 1.1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.content .side-bar .icon-bar a:hover {
  opacity: 1;
}

.page {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page button {
  border: none;
  background: transparent;
  cursor: pointer;
  color: #fff;
  font-family: "Rubik", sans-serif;
}

.page .tab-link {
  outline: none;
  padding: 1.2rem 1.4rem;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-overflow: ellipsis;
  border-bottom: 0.1rem solid transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  float: left;
}

.page svg {
  font-size: 1.6rem;
}

.page .icon-md {
  color: #1e90ff;
}

.page .icon-html {
  color: tomato;
}

.page .icon-css {
  color: #2965f1;
}

.page .tab-content {
  width: 100%;
  padding: 20px;
  height: 100%;
  overflow-y: auto;
}

.page .tab-content .line {
  position: relative;
  counter-increment: section;
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
}

.page .tab-content .line .bio {
  display: block;
  margin: auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.page .tab-content .line .bio img {
  width: 100%;
}

.page .tab-content .line .hero-name {
  font-family: FiraCodeMedium;
  -webkit-font-feature-settings: "calt" 1;
          font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  word-break: break-all;
  display: table;
  font-weight: 500;
  margin: 2.5rem auto;
  font-size: 2.5em;
  color: #fff;
}

.page .tab-content .line .hero-info,
.page .tab-content .line .address {
  font-family: FiraCodeLight;
  -webkit-font-feature-settings: "calt" 1;
          font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
  white-space: pre-wrap;
  word-break: break-all;
  color: #fff;
  font-size: 1.7rem;
  padding-bottom: 1.1rem;
}

.page .tab-content .line .address {
  opacity: 0.5;
}

.page .tab-content .line::after {
  position: absolute;
  content: counter(section);
  top: 0;
  left: 10px;
  color: #777;
  font-size: 1.6rem;
  font-family: FiraCodeMedium;
}

.page .tab-content .line .comment {
  text-align: start;
  font-family: FiraCodeLight;
  -webkit-font-feature-settings: "calt" 1;
          font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
  white-space: pre-wrap;
  word-break: break-all;
  color: #fff;
  font-size: 1.5rem;
  padding: 0 0 1.1rem 5rem;
  opacity: 0.5;
}

.page .tab-content .line .css {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
  font-family: FiraCodeLight;
  -webkit-font-feature-settings: "calt" 1;
          font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
  white-space: pre-wrap;
  word-break: break-all;
  color: #fff;
  font-size: 1.5rem;
  padding: 0 0 1.1rem 5.5rem;
}

.page .tab-content .line .css i {
  font-family: FiraCodeLight;
  -webkit-font-feature-settings: "calt" 1;
          font-feature-settings: "calt" 1;
  text-rendering: optimizeLegibility;
}

.page .tab-content .line .css .css-brace {
  color: #6cdae5;
}

.page .tab-content .line .css .css-selector {
  color: #f8b84d;
}

.page .tab-content .line .css .css-properties {
  color: #fff;
  padding-left: 4.5rem;
}

.page .tab-content .line .css .css-value {
  color: #ea8151;
  padding-left: 1rem;
}
/*# sourceMappingURL=style.css.map */